<div>
    <img [src]="this.character()?.image"/>
    <p>name: {{this.character()?.name}}</p>
    <p>status: {{this.character()?.status}}</p>
    <P>species: {{this.character()?.species}}</P>
    <p>type: {{this.character()?.type ||"Unknown"}}</p>
    <p>gender: {{this.character()?.gender}}</p> 
    <P>origin: {{this.character()?.origin.name}}</P>
    <p>location: {{this.character()?.location.name}}</p>
    <P>episode: {{this.character()?.episode}}</P>
    <p>created: {{this.character()?.created}}</p>

</div>