<div>
    @for (location of this.locations(); track location.id) {
        <div class="itemLocation">
            <p>Id: {{location.id}}</p>
            <p>Name: {{location.name}}</p>
            <p>Dimesion: {{location.dimension}}</p>
            <p>Type: {{location.type}}</p>
            <div class="itemResidents">
                @for (character of location.residents; track character.id) {
                    <div>
                        <p>resident name: {{character.name}}</p>
                    </div>
                }
            </div>
        </div>
    }
</div>